body {
    font-family: 'Times New Roman', Times, serif;
}

.backBtn {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size:16px;
    background-color:azure;
    border-radius:5px;
    padding:5px;
}

.nameLabel {
    display: inline-block;
    font-size:40px;
    color:azure;
    background-color:darkslateblue;
    padding:7px;
    border-radius:10px;
    white-space: normal;
    width: 350px;
}

.lnkbtnViewSubmissions {
    font-size: 16px;
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#stat_labels_container {
    display: block;
    margin: auto;
    margin-top: 15px;
    height: 80px;
    width: 600px;
    padding: 10px;
}

.stat_Labels {
    position: relative;
    height: 70px;
    width: 150px;
    text-align: center;
    white-space: normal;
    font-size: 20px;
    border: 3px solid azure;
    padding-top: 5px;
    color: azure;
    float: left;
}

.stat_num_span {
    position: relative;
    bottom: 1px;
    margin: auto;
    font-size: 40px;
    -webkit-text-stroke: red .5px;
}

.stat_rate_span {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.active_submits_label {
    background-color: green;
}

.pending_interviews_label {
    background-color: blue;
    font-size: 16px;
}

.avg_rate_label {
    background-color: orange;
    width: 200px;
}

.statsDetailsView {
    position:absolute;
    top:20px;
    right:120px;
    font-size:20px;
}

.Collapsible_Panel_Button_Toggle {
    height:40px;
    width:50%;
    margin-right:50%;
    background-color:azure;
    border-radius:5px;
    font-size:20px;
}



.Active_Submissions_Panel {
    max-height: 650px;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    /*border: 2px solid azure;*/
    border-radius: 5px;
    background-color: azure;
    overflow-x: hidden;
    overflow-y: auto;
}

.Pending_Interviews_Panel {
    height: 400px;
    width: 95%;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    /*border: 2px solid azure;*/
    border-radius: 5px;
    background-color: azure;
    overflow-x: hidden;
    overflow-y: auto;
}

#Pending_Interviews_Panel_Container {
    width: 700px;
    overflow-x: hidden;
}

.submission_row_linkbutton {
    display: block;
    overflow-x: hidden;
}

    /*.submission_row_linkbutton:hover {
        background-color: lightgray;
    }*/

.interview_row_linkbutton {
    display: block;
    margin-left: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: normal;
}

.Inline_LinkButton {
    float: right;
    margin-right: 5px;
}

.popupMenu {
    padding: 3px;
    padding-right: 8px;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: gainsboro;
    opacity: .9;
    filter: alpha(opacity=90);
}

    .popupMenu:hover {
        background-color: #F5F7F8;
    }

.popupMenu_hoverStyle {
    background-color: lightgray;
}


/*popup panel for editing submission*/
.popupMenu_Edit_Submissions {
    position: relative;
    height: 650px;
    width: 950px;
    background-color: ghostwhite;
    padding: 25px;
    white-space: normal;
    border: 3px dashed blue;
}

/*popup panel for viewing submission*/
.popupMenu_View_Submissions {
    position: relative;
    height: 650px;
    width: 950px;
    background-color: ghostwhite;
    padding: 25px;
    white-space: normal;
    border: 3px solid blue;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.label_title {
    color: blue;
    font-size: 26px;
    display: block;
    text-align: center;
    border-bottom: 2px double blue;
}

.cmnd_btns_div {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
}

.btn_edit_submission {
    float: right;
    font-size: 25px;
    border: 2px solid green;
}
    .btn_edit_submission:hover {
        cursor: pointer;
    }
    

    .delete_Btn {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 20px;
        background-color: lightgray;
        border-radius: 5px;
    }
    .delete_Btn:hover {
        cursor: pointer;
    }

.input_fields {
    width: 50%;
    height: 70px;
    text-align: left;
    float: left;
    border-bottom: 1px solid black;
    position: relative;
}

.label {
    display: inline-block;
    position: absolute;
    bottom: 50%;
    font-size: 20px;
}

.textbox {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    width: 70%;
}

.textbox:read-only {
    background-color: lightgray;
}

.label_details {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    background-color: Highlight;
    width: 70%;
    padding: 2px;
}

.cancel_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: lightgray;
    color: black;
    width: 50px;
    height: 50px;
    font-size: 24px;
}

    .cancel_btn:hover {
        background-color: red;
        color: white;
    }

.Drag_Panel {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid black;
    height: 20px;
    width: 75px;
}


/*bottom control buttons*/
#ctrl_btns_container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background-color: cadetblue;
    border-top: 2px double blue;
    text-align: center;
}

.ctrl_btn {
    width: 280px;
    height: 40px;
    margin: 8px;
    font-size: 25px;
    background-color: dimgrey;
    border-radius: 5px;
}

    .ctrl_btn:hover {
        cursor: pointer;
    }
    .ctrl_btn:disabled {
        cursor: default;
    }

/*view all submissions popup*/
.popupMenu_View_All_Submissions {
    position: relative;
    display: inline-block;
    background-color: ghostwhite;
    padding: 20px;
    white-space: normal;
    border: 3px solid green;
}

#gridview_container {
    width: 97%;
    height: 98%;
    overflow: auto;
}


/*confirm delete popup*/
.popupMenu_Confirm_Delete {
    background-color: lightgray;
    width: 500px;
    height: 150px;
    text-align: center;
    white-space: normal;
}

.option_bts {
    margin: 10px;
    font-size: 30px;
}
    .option_bts:hover {
        color: white;
        background-color: red;
        cursor: pointer;
    }


/*add new submission popup*/
.popupMenu_add_new_submission {
    position: relative;
    height: 650px;
    width: 950px;
    background-color: ghostwhite;
    padding: 25px;
    white-space: normal;
    border: 3px solid green;
}

.Btn_Command {
    position: absolute;
    bottom: 5px;
    right: 5%;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    background-color: blue;
    color: white;
}
    .Btn_Command:hover {
        cursor: pointer;
    }
    .Btn_Command:disabled {
        cursor: default;
    }


/*add new interview popup*/
.popupMenu_add_new_interview {
    position: relative;
    height: 500px;
    width: 800px;
    background-color: ghostwhite;
    padding: 25px;
    white-space: normal;
    border: 3px solid green;
}

/*collapsible intvs for submissions panel*/
.submission_intvw_collapsible_panel {
    /*display: inline-block;*/
    /*width: 95%;*/
    padding: 5px;
    text-align: left;
    font-size: 14px;
    /*border: 2px solid azure;*/
    border-radius: 5px;
    /*background-color: azure;*/
    overflow-x: hidden;
    overflow-y: auto;
}

/*new interview btn*/
.Btn_New_Interview {
    font-size: 11px;
    float: right;
}
    .Btn_New_Interview:hover {
        cursor: pointer;
    }

.interview_toggle_btn {
    background-color: inherit;
    border-radius: 5px;
    margin-left: 3px;
    border: 2px solid darkgray;
    height: 18px;
    font-weight: bold;
}


/*resize handle*/
.resize_handle_css {
    width: 15px;
    height: 16px;
    background-color: red;
    border: 3px solid blue;
    overflow: hidden;
    cursor: se-resize;
}

.resize_css {
    border: 3px dashed green;
}

.btn_recenter {
    position: absolute;
    top: 3px;
    left: 3px;
}


/*size of checkbox for 'active' submission*/
.ChkBoxClass input  {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
}



/*************************************/
/*set size of combobox dropdown lists*/
/*clients*/
.ajax__combobox_itemlist {
    height: 200px !important;
}

.combobox_client ul.ajax__combobox_itemlist {
    height: 350px !important;
    overflow-y: scroll !important;
}
/*states*/
.combobox_state ul.ajax__combobox_itemlist {
    height: 250px !important;
    overflow-y: scroll !important;
}
/*vendors*/
.combobox_vendor ul.ajax__combobox_itemlist {
    height: 200px !important;
    overflow-y: scroll !important;
}
/*vendor contacts*/
.combobox_vendor_contact ul.ajax__combobox_itemlist {
    height: 200px !important;
    overflow-y: scroll !important;
}
/*submission status*/
.combobox_submission_status ul.ajax__combobox_itemlist {
    height: 100px !important;
    overflow-y: scroll !important;
}
/*************************************/


.intvw_feedback_toggle_btn {
    background-color: none;
    border: 2px solid white;
    border-radius: 5px;
}




/*************************/
/*consultant notes*/
.panel_consultant_notes {
    display: inline-block;
    margin: auto;
    margin-top: 25px;
    height: 400px;
    width: 90%;
    /*background-color: darkgray;*/
    border-radius: 5px;
}

.lblForNotes {
    display: block;
    font-size: 20px;
    background-color: beige;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid gray;
    border-collapse: collapse;
}

.consulant_notes_txtbox {
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: black;
    resize: none;
    border: 2px solid gray;
    border-radius: 5px;
}
.consulant_notes_txtbox:read-only {
    background-color: azure;
    color: black;
}

.notes_btn {
    font-size: 18px;
    background-color: dimgray;
    color: white;
    cursor: pointer;
    width: 100px;

}
/*************************/



/****************************/
/*consultant status box*/
#status_box {
    display: block;
    margin: auto;
    margin-top: 30px;
}

.status_textbox {
    font-size: 24px;
    background-color:aquamarine;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid blue;
    border-top: none;
    text-decoration: none;
}
.consultant_status_btn {
    padding: 2px;
    background-color: lightblue;
    font-size: 16px;
    border-radius: 3px;
}
    .consultant_status_btn:hover {
        cursor: pointer;
    }
.balloon_popup {
    background-color: deepskyblue;
    width: 120px;
    height: 20px;
}
/****************************/


/*****************************/
/*Required Field Validator*/
.newsubmissionValidators {
    position: absolute;
    left: 75%;
    top: 50%;
    color: red;
    font-size: 16px;
    white-space: normal;
}
/*****************************/


/*****************************/
/*Message Popup*/
.msgPanel {
    width: 400px;
    height: 100px;
    background-color: lightgrey;
    border: 3px solid gray;
    font-size: 20px;
}

.msgBtn {
    position: absolute;
    bottom: 10px;
    left: 45%;
    width:10%;
}

.msgTextLabel {
    font-family:Arial;
    white-space: normal;
}
/*****************************/



/******** fixing combobox styles ********/
.combobox button {
    width: 15px;
    height: 15px;
    border: 2px solid red;
}

.combobox ul {
    height: 110px !important;
}

.ajax__combobox_itemlist {
    width: 250px !important;
}

.ajax__combobox_buttoncontainer button {
    width:25px !important;
    height: 25px !important;
}

#ContentPlaceHolder1_ComboBox_Client_ComboBox_Client_Button {
    width: 15px;
    height: 15px;
}

.btnStyle {
    width: 25px !important;
    height: 25px !important;
}
/********************************/